#circle {
    animation: dropDown 6s linear infinite;
    animation-delay: calc(var(--order) * 1200ms);
    transform-origin: center;
    opacity: 0;
}
path{
    stroke: #646464;
    stroke-width: 1;
}
svg{
    position: absolute;
    top: 0;
    left: 2%;
    width: 200px;
    height: 200px;
}

@keyframes dropDown {

    0% {
        opacity: 1;
        translate: 0;
        /*opacity: 1;*/
    }
    20% {
        translate: 20% 20%;
        scale: .8;
        /*opacity: .7;*/
    }

    40%{
        scale: .6;
        translate: 0 40%;
        /*opacity: .6;*/
    }

    60%{
        translate: 20% 60%;
        scale: .4;
        opacity: 0;
    }

    80%{
        translate: 0 70%;
        scale: .2;
        /*opacity: .2;*/
    }

    100%{
        scale: 0;
        translate: 20% 80%;

    }

}
body {
    background: #3f2e2e;
    font-family: sans-serif;
}

body::before {
    content: "SHUUUUUUUSH";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    font-size: 10rem;
}