#circle {
    animation: dropDown 4s linear infinite;
    animation-delay: calc(var(--order) * 500ms);
    opacity: 0;
}

svg{
    position: absolute;
    top: 0;
    left: 50%;
    width: 250px;
    height: 250px;
}

@keyframes dropDown {

    0% {
        opacity: 1;
        translate: 20%;
        /*opacity: 1;*/
    }
    20% {
        translate: 20% 20%;
        scale: .5;
        /*opacity: .7;*/
    }

    40%{
        scale: 1;
        translate: 20% 40%;
        /*opacity: .6;*/
    }

    60%{
        translate: 20% 60%;
        scale: .5;
        /*opacity: .4;*/
    }

    80%{
        translate: 20% 70%;
        scale: 1;
        /*opacity: .2;*/
    }

    100%{
        scale: .5;
        translate: 20% 80%;
        opacity: 0;
    }

}
body {
    background: #3f2e2e;
    font-family: sans-serif;
}

body::before {
    content: "SHUUUUUUUSH";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    font-size: 10rem;
}